.summary {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 0 25px;
}

.summary__header {
  margin-bottom: 20px;
}

.summary__list {
  margin-bottom: 30px;
}

.summary__element::before {
  content: '—';
}

.summary__element:not(:last-child) {
  margin-bottom: 10px;
}
